 * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
  }

  .intro {
    background: #23424a;
    color: white;
    padding: 50px 0;
    margin: 0 auto;
    padding: 5em;
  }

  .intro-content {  
      width: 50%;
  }

  .heading {
    font-size: 0.75rem;
    padding-bottom: 1.5em;
  }

  .btn {
    background-color:aqua;
    padding: 1.5em;
    font-size: 0.65rem;
    text-decoration: none;
    border-radius: 1rem;
    text-transform: uppercase;
  }